@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom left, #2C2D65, #201F22);
    font-family: 'Barlow', sans-serif;
    color: #fff;
    font-size: 100%;
    overflow-x: hidden;
}

body::before {
    content: '';
    width: 1050px;
    height: 1050px;
    background: url('images/deco1.svg') no-repeat;
    background-size: 100% 100%;
    position: absolute; 
    left: 55%;
    top: -100px;
}

p {
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.53);
    font-size: 1em;
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color:rgba(255, 255, 255, 0.5)
}

/***** Header and nav *****/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 10% /*170px*/;
}

.logo {
    width: 170px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3%;
    width: 100%;
}

nav a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    color: #fff;
}

/***** Intro section *****/
.intro {
    margin: 170px 0;
}
.intro-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 30px;
    margin: 5% 10%;
}

.intro-text::before {
    content: '';
    width: 220px;
    height: 220px;
    background: url('images/deco3.svg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    transform: translate(-60px, -50px);
}

.intro-text::after {
    content: '';
    width: 250px;
    height: 250px;
    background: url('images/deco2.svg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    transform: translate(380px, 320px);
}

.intro h1 {
    font-size: 5.4rem;
    font-weight: 300;
    letter-spacing: 4.5%;
}

.intro h2 {
    font-size: 2.7rem;
    font-weight: 400;
    letter-spacing: 4.5%;
    color: #E8AB36;
}

.intro p {
    font-size: 1.4rem;
    font-weight: 300;
    width: 80%;
    letter-spacing: 4.5%;
    color: #EFEFEF;
}

.buttons {
    display: flex;
    gap: 30px;
}

button {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 4.5%;
    border-radius: 75px;
    padding: 20px 40px;
    background-color: #EFEFEF;
}

.get-started {
    background-color: #E6606C;
    color: #fff;
}

/***** Mid section *****/
.mid {
    padding: 10% 0 6%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    gap: 10%;
}

.mid-grid {
    width: 80%;
    justify-self: center;
}

.mid-grid img {
    width: 125%;
}

.mid-grid:nth-child(2)::before {
    content: '';
    width: 300px;
    height: 300px;
    background: url('images/Ellipse.svg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    transform: translate(100%, 30%);
}

.mid h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 4.8rem;
}

.mid h2 {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 40px 0;
    line-height: 1.5em;
}

.mid p {
    font-weight: 400;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

/***** Top articles *****/
.top-articles {
    width: 40%;
    margin: 0 auto 80px;
    text-align: center;
}

.top-articles::before {
    content: '';
    width: 220px;
    height: 220px;
    background: url('images/deco3.svg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    transform: translate(-360px, -30px);
}

.top-articles h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 4.8rem;
    margin-bottom: 50px
}

.top-articles p {
    font-size: 1.4rem;
    font-weight: 400;
}

/***** Articles *****/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3%;
    width: 85%;
    margin: auto;
}

.grid-child {
    background-image: linear-gradient(#674D95, #2B2D66);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.0782);
    height: 100%;
    width: 100%;
}

.grid-child img {
    width: 100%;
}

.content-article {
    padding: 10% 10%;
}

.grid-child h3 {
    font-family: 'barlow condensed', sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.7;
}

.grid-child p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 20px;
}

/***** Footer menu/service/social media *****/
.menu-contact {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    width: 70%;
    margin: 200px auto 50px;
}

.menu-contact ul {
    list-style-type: none;
    padding-left: 0px;
    line-height: 2.5;
}

.menu-contact a {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.social-media img {
    width: 20px;
    height: 20px;
}

.social-media{
    background-color: #6357F6;
    padding: 18px 22px;
    border-radius: 50%;
    margin: 5px;
}

.menu-column:nth-child(4) {
    justify-self: right;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.0797);
    width: 70%;
    margin: 0 auto 40px;
}

/***** End Footer *****/
.end-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin: auto;
    padding-bottom: 100px;
}

.link-footer {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: end;
}

.end-footer-child {
    width: 100%;
}

.end-footer-child p {
    font-size: 1.4rem;
}

.link-footer a {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}