@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom left, #2C2D65, #201F22);
    font-family: 'Barlow', sans-serif;
    color: #fff;
}

/***** Header and nav *****/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 100px;
}

.logo {
    width: 121px;
    height: 38px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    width: 100%;
}

nav a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color: #fff;
}

/***** Intro section *****/
.intro {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
    margin: 50px 10%;
}

.intro h1 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 4.5%;
}

.intro h2 {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 4.5%;
    color: #E8AB36;
}

.intro p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 4.5%;
    color: #EFEFEF;
}

button {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4.5%;
    border-radius: 75px;
    padding: 10px 30px;
    background-color: #EFEFEF;
}

.get-started {
    background-color: #E6606C;
    color: #fff;
}

/***** Mid section *****/
.mid {
    display: grid;
    grid-template-columns: 40% 40%;
    /* TODO: Display grid */
}

.mid h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
}

.mid h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 56px;
}

.mid h2 {
    font-weight: 400;
    font-size: 20px
}

.mid p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}